@mixin round($procent){
        border-radius:$procent;
        -moz-border-radius:$procent;
        -webkit-border-radius:$procent;
    }
body{
 text-align:center;
}
$color: #fff;
#header{
    background:$color;
    margin:50px 0 0 0 ;
    .logo{
       background:url("../images/logo.png");
        display:inline-block;
        height: 72px;
        width: 78px;
    }
    .logo-text ,
    h3 , .logo-text-green{
        text-transform:uppercase;
        display:inline-block;
        vertical-align:top;
        font-weight:bold;
    }
    h3 {
        margin:25px 0 0 0;
        font-size:22px;
    }
    .logo-text-green{
        color:green;
        float:right;
    }
    .logo-small-text{
        font-size:12px;
    }
    .header-phone{
        text-align:right;
        h1 {
            background: url('../images/icon-phone.png') no-repeat 12% 4px;
        }
        .contact-info{
             display:block;
             
             font-size:12px;
             font-weight:bold;
        }
        .contact-info-small{
            font-size:12px;
            
        }
    }
    .header-menu .navbar-nav{
        border:2px solid gray;
        border-right:1px solid gray;
        margin-top:20px;
        li{
            border-right:1px solid gray;
            background: #e6e6e6;
        }
        li a{
            color:#000000;
        }
    }
    
}
.teaser{
    text-align:center;
    position:relative
    h1{
        font-weight:bold;
    }
    
    .contact-form{
        @include round(50%);
        position:absolute;
        float:right!important;
        margin:100px 0 0 700px;
        background:rgba(155,155,155, 0.5);
        padding: 40px 0 50px 0;
        font-size:12px;
        span{
            margin-bottom:12px;
        }
        h3{
            margin:20px 0 0 0 ;
        }
        .form-horizontal{
            padding:15px 0;
            
        } 
        .form-name{
            background:url(../images/icons-form.png) no-repeat #fff 12px 0;
            padding:0 0 0 40px;
           
        }
        .form-phone{
            background:url(../images/icons-form.png) no-repeat #fff 12px -26px;
            padding:0 0 0 40px;
        }
        .button-green{
            @include round(15px);
            background:green;
            border:gray;
            padding: 5px 20px;
            color:#fff;
            margin:7px 0 0 0;
        }
    }
}
#advantage{
    margin:50px 0 0px 0;
    text-align:center;
    display:inline-block;
    .advantage-exp{
       background:url(../images/icons-compl.png) no-repeat #fff 0px 0;     
    }
    .advantage-ready{
         background:url(../images/icons-compl.png) no-repeat #fff -218px 0;
    }
    .advantage-energy{
          background:url(../images/icons-compl.png) no-repeat #fff -442px 0;
    }
    .advantage-ecology{
          background:url(../images/icons-compl.png) no-repeat #fff -4px -120px;
    }
    .advantage-inst{
        background:url(../images/icons-compl.png) no-repeat #fff -215px -120px;
    }
    .advantage-project{
         background:url(../images/icons-compl.png) no-repeat #fff -439px -120px;
    }
    .advantage-img{
        margin:0 auto 15px ;
        width:100px;
       height:100px;
       padding:0 0 5px 0;
       display:block;
    }
    span{
        display:block;
        line-height:18px;
    }
    b{
        color:green;
    }
    .advantage-item{
        margin:0 0 30px 0;
    }
}
#services{
    background:#e2e2e2;
    text-align: center;
    h2{
        margin:20px 0 30px 0;
        font-weight:bold;
    }
    .service-item, .service-white-text{
        float:none;
    }
    .service-white-text2{
        margin-left:60px !important;
    }
     .service-item{
        
         .service-text{
             display:inline-block;
            position:absolute;
            margin:220px 0px 0  40px;
            text-align: center;
        }
        display:inline-block;
        text-align: center;
        
        margin:0px auto;
        
        h3{
            font-size: 29px;
            position:absolute;
           margin:80px auto ;
           
           white-space: pre-line;
           text-transform:uppercase;
        }
       
       
    }
     .service-white-text h3{
                 color:#fff !important;
                 margin:110px auto 0 auto ;
                 
        }
   
}
#services-projects .container{
    text-align:center;
      margin:0px auto 50px auto;
    h2{
      text-transform:uppercase;
      margin:30px 0 10px 0;
    }
    .projects-text{
     padding:0 0 45px 0;
    }
    .projects-icons{
         margin:0 0 0 12px;
        background:#e1e1e1;
        border:2px solid #000;
        width:70px;
        height:70px;
        @include round(50%);
        .icon-docs{
            margin:0 0 0 -12px;
        }
        .icon-pasta{
            margin:12px 0 0 -12px;
        }
        .icon-round{
            margin:-6px 0 0 -12px;
        }
        .icon-thing{
            margin:6px 0 0 -6px;
        }
    }
    .projects-list{
        
        .list-group {
         list-style-image: url('../images/icon-weber.png') no-repeat 0 0;
         position:relative;
         z-index:5;
         span{
             background:red;
         width:20px;
         height:20px;
         display:inline-block;
         }
         .list-item{
            
             margin:0 -20px;
         }
    }

    
}
}
#work {
	.list-group {
		padding: 15px 0;
	}
	.hot-circuit, .cold-circuit {
		background: #e2e2e2;
		display: table-cell;
		position: relative;
		width: 41%;
	}
	.cold-circuit .cold-circuit-head,.hot-circuit .hot-circuit-head {
		background: blue;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		padding: 12px 0;
		text-align: center;
	}
	.hot-circuit {
		.hot-circuit-head {
			background: red;
			text-align: center;
		}
	}
	.cold-circuit-price, .hot-circuit-price {
		bottom: 0;
		color: blue;
		font-size: 28px;
		min-width: 50%;
		padding: 30px 0 20px 0;
		position: relative;
		text-align: center;
		white-space: normal;
	}
	.cold-circuit-price {
		position: absolute;
	}
	.hot-circuit-price {
		color: yellow;
	}
	.buy-cold,.buy-hot {
                @include round(22px);
		color: #fff;
		padding: 8px 60px;
	}
	.buy-cold {
		background: blue;
	}
	.buy-hot {
		background: yellow;
	}
	.work-img,.work-action {
		margin: 40px 0 ;
		padding: 0;
	}
	.work-action {
		background: #e1e1e1;
		overflow: hidden;
	}
	.order {
                text-align: center;
               padding:40px 20px 20px 20px ;
		img {
			margin: 15px 0 5px 0;
		}
		span {
			display: block;
		}
		.upper {
			text-transform: uppercase;
		}
		.red {
			color: red;
		}
		.buy-green {
                        @include round(22px);
			background: green;
			color: #fff;
			margin: 7px 0 20px 0;
			padding: 8px 45px;
		}
	}
	.order-img {
		.action-round {
                        @include round(50%);
			background: red;
			border: 3px solid #e8e8e8;
			height: 200px;
			position: absolute;
			right: -60px;
			top: -70px;
			vertical-align: bottom;
			width: 200px;
			z-index: 2;
		}
		span {
			bottom: 25%;
			color: #fff;
			font-size: 35px;
			font-weight: bold;
			left: 10%;
			moz-transform: rotate(45deg);
			ms-transform: rotate(45deg);
			o-transform: rotate(45deg);
			position: absolute;
			transform: rotate(45deg);
			webkit-transform: rotate(45deg);
		}
		img {
			margin: 43px 0 0 0;
			position: relative;
			z-index: 3;
		}
	}
}
#projects{
    text-align:center;
    background: beige;
    span{
        display:block;
        margin:15px 0 10px 0;
        line-height: 18px;
        font-size:15px;
        padding:0 25px;
    }
    .more{
        color:green;
        text-decoration: underline;
    }
    .price{
        font-size:40px;
        display:inline-block;
    }
          
}
a.buy-green,a.buy-green-big {
        @include round(22px);
        background: green;
        color: #fff;
        margin: 7px 0 20px 0;
        padding: 8px 45px;
		}
    a.buy-green-big{
                    margin: 17px 0 30px 0;
                    
                }   
#how-we-work{
    text-align:center;
    margin: 10px 0 30px 0;
    .green-round{
        @include round(50%);
        background:green;
        height:80px;
        width:80px;
        padding: 10px;
        margin:20px auto;
        color:#fff;
        font-size:45px;
    }
}
#why-we{
    background: lavender;
   
    padding: 15px 0 40px;
    .white-round{
        @include round(50%);
        background:#fff;
        height:80px;
        width:80px;
        padding: 10px;
        margin:20px auto;
        color:lavender;
        font-size:45px;
    }
}
#video{
    iframe{
        display: block;
    width: 100%;
    height: 500px;
    margin: 10px 0 30px 0;
    }
}
#reviews{
    text-align:center;
    img{
        display:block;
        text-align:center;
        margin:0 auto;
    }
    span{
        display:block;
        margin:5px 0;
    }
}
#contact-map{
    height: 455px;
  }
  footer{
      text-align:left;
      margin:30px 0 50px 0;
      .logo{
       background:url("../images/logo.png");
        display:inline-block;
        height: 72px;
        width: 78px;
    }
    .logo-text ,
    h3 , .logo-text-green{
        text-transform:uppercase;
        display:inline-block;
        vertical-align:top;
        font-weight:bold;
    }
    h3 {
        margin:25px 0 0 0;
        font-size:22px;
    }
    .logo-text-green{
        color:green;
        float:left;
    }
    .logo-small-text{
        font-size:12px;
    }
    .header-phone{
        
        h1 {
            background: url('../images/icon-phone.png') no-repeat 12% 4px;
        }
        .contact-info{
             display:block;
             
             font-size:12px;
             font-weight:bold;
        }
        .contact-info-small{
            font-size:12px;
            
        }
    }
    .contact-form{
    text-align:center;
        @include round(15px);
        
        float:right!important;
        
        background:rgba(155,155,155, 0.5);
        padding: 40px 0 50px 0;
        font-size:12px;
        span{
            margin-bottom:12px;
        }
        h3{
            margin:20px 0 0 0 ;
            display: block;
        }
        .form-horizontal{
            padding:15px 0;
            
        } 
        .form-name{
            background:url(../images/icons-form.png) no-repeat #fff 12px 0;
            padding:0 0 0 40px;
           
        }
        .form-phone{
            background:url(../images/icons-form.png) no-repeat #fff 12px -26px;
            padding:0 0 0 40px;
        }
        .button-green{
            @include round(15px);
            background:green;
            border:gray;
            padding: 5px 20px;
            color:#fff;
            margin:7px 0 0 0;
        }
    }
  }